.sidebar_compose{
    margin-left: 20px !important;
    margin-top: 15px !important;
    border-radius: 30px !important;
    padding: 15px !important;
    color: grey !important;
    margin-bottom: 15px !important;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    text-transform: capitalize !important;
}


.sidebar{
     flex: 0.25;
     max-width: 300px;
     padding-right: 30px;
}

.sidebar_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}